{% extends "base.html" %}

{% block content %}

	{% if form.errors %}
		{% for error in form.errors %}
			<style type="text/css">
				#id_{{ error }} {
					color: red;
					border-color: red;
					outline-color: red;
					-webkit-box-shadow: none;
				}
			</style>
		{% endfor %}
	{% endif %}

	<form method="POST" action="." class="form-signin">
		{% csrf_token %}
		<h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

		{% for field in form %}
			{{ field }}
		{% endfor %}
		<p style="font-size: 14px;"><a href="{% url 'login' %}">already have an accounts? login now!</a></p>

		<button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
		<p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
	</form>


	<style>
      .form-signin {
      	max-width: 400px;
      	max-height: 600px;
      	position: absolute;
      	top: 50%;
      	left: 50%;
  		transform: translate(-50%, -50%);
      }
      .adem-input {
      	margin-bottom:10px;
      }
	</style>
	<script type="text/javascript">

	</script>
{% endblock content %}