{% extends "base.html" %}

{% block content %}
	<h1 class="adem-center bg-danger text-light rounded">WTF! Page not found!!</h1>
	<style type="text/css">
		body {
				background-image: url('https://i.ytimg.com/vi/Ocn9cUl22Ws/maxresdefault.jpg');
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-position: center center;
			}

			.adem-center {
				padding: 5px 10px;
				max-height: 600px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
		}
	</style>
{% endblock content %}